{% extends "back/app.html" %}
{% block title%}Fetch Cable Plans | Products | {{ website.website_name }}{% endblock title %}
{% block app %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Fetch Cable Plans</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'a_home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Fetch Cable Plans</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                {% comment %} <h4 class="card-title">Table Edit</h4> {% endcomment %}
                {% comment %} <p class="card-title-desc">Table Edits is a lightweight jQuery plugin for making table rows editable.</p> {% endcomment %}
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-editable table-nowrap align-middle table-edits3">
                        <thead>
                            <tr>
                                <th>Decoder</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Amount</th>
                                <th>Customer Price</th>
                                <th>Reseller Price</th>
                                {% comment %} <th>API Price</th> {% endcomment %}
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for n in plans %}
                            <tr data-id="{{n.id}}">
                                <td data-field="decoder">{{n.decoder|upper}}</td>
                                <td data-field="name">{{n.plan}}</td>
                                <td data-field="variation_code">{{n.id}}</td>
                                <td data-field="amount">{{n.amount}}</td>
                                <td data-field="customer_price">{{n.amount}}</td>
                                <td data-field="reseller_price">{{n.amount}}</td>
                                {% comment %} <td data-field="api_price">{{n.variation_amount}}</td> {% endcomment %}
                                <td style="width: 100px">
                                    <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock app %}