{% extends "back/auth.html" %}

{% block admin_auth %}

<div class="auth-content my-auto">
    <div class="text-center">
        <h5 class="mb-0">Welcome Back !</h5>
        <p class="text-muted mt-2">Sign in to continue to {{website.website_name}} Admin Panel.</p>
    </div>
    <form class="mt-4 pt-2 login">
    {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                    <label class="form-label">Password</label>
                </div>
                <div class="flex-shrink-0">
                    <div class="">
                    </div>
                </div>
            </div>
            
            <div class="input-group auth-pass-inputgroup">
                <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" aria-label="Password" aria-describedby="password-addon">
                <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-check">
                </div>  
            </div>
            
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100 waves-effect waves-light btnLogin" type="submit">Log In</button>
        </div>
    </form>

    <div class="mt-4 pt-2 text-center">
        
    </div>

    <div class="mt-5 text-center">
        
    </div>
</div>

{% endblock admin_auth %}