{% extends "back/app.html" %}
{% block title%}Webhook | {{ website.website_name }}{% endblock title %}
{% block app %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Webhook Configuration</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'a_home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Webhook Configuration</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            
            <div class="card-body p-4">
                    <div class="row">
                        <h4 class="card-title">Monnify</h4>
                        <div class="col-lg-6">
                            <div>
                                <div class="mb-3">
                                    <label for="example-text-input" class="form-label">Monnify Webhook</label>
                                    <input class="form-control" type="text" value="{{monnify_webhook}}" name="glo_number" readonly>
                                </div>

                            </div>
                        </div>

                        {% comment %} <div class="col-lg-6">
                            <div>
                                <div class="mb-3">
                                    <label for="example-text-input" class="form-label">GLO Percentage (%)</label>
                                    <input class="form-control" type="text" value="{{a2c.glo}}" name="glo_percent" readonly>
                                </div>

                            </div>
                        </div> {% endcomment %}

                    </div>

                    <div class="row">
                        <h4 class="card-title">VTPass</h4>
                        <div class="col-lg-6">
                            <div>
                                <div class="mb-3">
                                    <label for="example-text-input" class="form-label">VTPass Webhook</label>
                                    <input class="form-control" type="text" name="mtn_number" value="{{vtpass_webhook}}" readonly>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <h4 class="card-title">SMEPlug</h4>
                        <div class="col-lg-6">
                            <div>
                                <div class="mb-3">
                                    <label for="example-text-input" class="form-label">SMEPlug Webhook</label>
                                    <input class="form-control" type="text" value="{{sme_webhook}}" name="airtel_number" readonly>
                                </div>

                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock app %}