<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ website.website_name }} | {{ website.website_title }}</title>
    <meta content="{{website.seo_description}}" name="description" />
    <meta content="{{website.seo_keywords}}" name="keywords" />
    <meta content="Prudent Core NG" name="author" />
    <meta name="theme-color" content="#590b19">

    <!-- Favicons -->
    {% if website.website_icon %}
    <link rel="shortcut icon" href="{{website.website_icon.url}}">
    {% else %}
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    {% endif %}

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="/static/vendor/css/font-awesome.min.css">
    {% comment %} <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome/font-awesome.min.css"> {% endcomment %}

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/vendor/libs/ionicons/css/ioniconss.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/vendor/css/style.css" rel="stylesheet">

    {% comment %} <link rel="stylesheet" type="text/css" href="https://ionicframework.com/docs/v3/ionicons/"> {% endcomment %}

    <link href='/static/vendor/boxicons%402.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link href="/static/vendor/remixicon%402.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/vendor/Rivolicons/style.css">

    <link href='/static/vendor/boxicons%402.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link href="/static/vendor/remixicon%402.5.0/fonts/remixicon.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor/animate.css/animate.min.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent" style="background-color: #590b19">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto" style="text-transform: uppercase;"><a href="{% url 'index' %}">
                {% if website.website_logo %}
                <img src="{{website.website_logo.url}}" alt="" height="44">
                {% else %}
                <img src="/static/images/logo.svg" alt="" height="22">
                {% endif %}
            </a></h1>


            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Our Services</a></li>
                    <li><a href="#faq">FAQS</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'a_home' %}">Dashboard</a></li>
                    {% else %}
                    <li><a href="{% url 'home' %}">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-left" style="background-image: url('/static/vendor/img/hero.jpg');">
        <div class="container position-relative">
            <br>
            <br>
            <br>
            <h1>Welcome to {{website.website_name}}</h1>
            <h2>{{website.about_website}}</h2><br>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
            <a href="{% url 'a_home' %}" class="btn scrollto" style="background-color: #590b19;color: white;">Dashboard</a> 
            {% else %} 
            <a href="{% url 'home' %}" class="btn scrollto" style="background-color: #590b19;color: white;">Dashboard</a> {% endif %} &nbsp;&nbsp; <a href="{% url 'logout' %}"
                class="btn scrollto" style="background-color: #590b19;color: white;">Logout&nbsp;</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn scrollto" style="background-color: #590b19;color: white;">Sign
                    In&nbsp;<i class="fa fa-unlock"></i></a> &nbsp;&nbsp; <a href="{% url 'register' %}"
                    class="btn scrollto" style="background-color: #590b19;color: white;">Register</a>
                {% endif %}
        </div>
    </section><!-- End Hero -->

    <main id="main">


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="/static/vendor/img/us.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <div class="section-title">
                            <h2>Why Choose Us?</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <i class="ri-check-double-line"></i>
                                <h4>Automation Services</h4>
                                <p>
                                    We use cutting-edge technology to run our services. Our data delivery and wallet
                                    funding is automated, airtime top-up and data purchase are automated and get
                                    delivered to you almost instantly.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <i class="ri-check-double-line"></i>
                                <h4>Swift Delivery</h4>
                                <p>
                                    We offer instant recharge of Airtime, Databundle, CableTV (DStv, GOtv & Startimes),
                                    Electricity Bill Payment and Educational PIN(s) with instant delivery...
                                </p>
                            </div>
                            <div class="col-md-4">
                                <i class="ri-check-double-line"></i>
                                <h4>Customer Support</h4>
                                <p>
                                    Our customers are premium to us, hence satisfying them is our topmost priority. Our
                                    customer service is just a click away.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            </div>
            </div>
        </section><!-- End About Section -->


        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">

                <div class="row">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/static/vendor/img/dstv.png" class="img-fluid" alt="" height="100px">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/static/vendor/img/gotv.png" class="img-fluid" alt="" height="100px">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/static/vendor/img/mtn.png" class="img-fluid" alt="" height="100px">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/static/vendor/img/airtel.png" class="img-fluid" alt="" height="100px">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/static/vendor/img/ibedc.png" class="img-fluid" alt="" height="100px">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="/static/vendor/img/9mobile.png" class="img-fluid" alt="" height="100px">
                    </div>

                </div>

            </div>
        </section><!-- End Clients Section -->



        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Our Services</h2>
                    <p>We offer instant recharge of Airtime, Databundle, CableTV (DStv, GOtv & Startimes), Electricity
                        Bill Payment and Airtime to Cash.</p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-bue">
                            <img src="/static/vendor/img/data.jpg" class="img-fluid" style="width: 100%; height: 50%;">
                            <h4 class="mt-3"><a href="#">Buy Data</a></h4>
                            <p>Start enjoying this very low rates Data plan for your internet browsing databundle.</p>
                            <a href="{% url 'login' %}"
                                style="width: 95%; margin-bottom: -40px; background: linear-gradient(to right, #590b19, #590b19, #590b19 );"
                                class="mt-3 py-2 btn text-white">Order Now</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box iconbox-bue">
                            <img src="/static/vendor/img/airtime.png" class="img-fluid"
                                style="width: 100%; height: 50%;">
                            <h4><a href="#">Airtime TopUp</a></h4>
                            <p>Making an online recharge has become very easy and safe on <span
                                    style="text-transform: lowercase;">{{website.website_name}}</span>.com</p>
                            <a href="{% url 'login' %}"
                                style="width: 95%; margin-bottom: -40px; background: linear-gradient(to right, #590b19, #590b19, #590b19 );"
                                class="mt-3 py-2 btn text-white">Order Now</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box iconbox-bue">
                            <img src="/static/vendor/img/cable.jpg" class="img-fluid"
                                style="width: 100%; height: 50%;">
                            <h4><a href="#">Cable Subscription</a></h4>
                            <p>Instantly Activate Cable subscription with favourable discount compare to others</p>
                            <a href="{% url 'login' %}"
                                style="width: 95%; margin-bottom: -40px; background: linear-gradient(to right, #590b19, #590b19, #590b19 );"
                                class="mt-3 py-2 btn text-white">Order Now</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box iconbox-bue">
                            <img src="/static/vendor/img/airtime2cash.jpg" class="img-fluid"
                                style="width: 100%; height: 50%;">
                            <h4><a href="#">Airtime To Cash</a></h4>
                            <p>Convert your airtime easily to cash here at <span
                                    style="color: purple;text-transform: lowercase;">{{website.website_name}}</span> with less
                                charges.</p>
                            <a href="{% url 'login' %}"
                                style="width: 95%; margin-bottom: -40px; background: linear-gradient(to right, #590b19, #590b19, #590b19 );"
                                class="mt-3 py-2 btn text-white">Order Now</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box iconbox-bue">
                            <img src="/static/vendor/img/utility.jpg" class="img-fluid"
                                style="width: 100%; height: 50%;">
                            <h4><a href="#">Utility Bills Payment</a></h4>
                            <p>Because we understand your needs, we have made bills and utilities payment more
                                convenient.</p>
                            <a href="{% url 'login' %}"
                                style="width: 95%; margin-bottom: -40px; background: linear-gradient(to right, #590b19, #590b19, #590b19 );"
                                class="mt-3 py-2 btn text-white">Order Now</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box iconbox-bue">
                            <img src="/static/vendor/img/refer.jpg" class="img-fluid"
                                style="width: 100%; height: 50%;">
                            <h4><a href="#">Referal Programme</a></h4>
                            <p>Refer a friend as a reseller and earn 50% bonus on their activation with no stress.</p>
                            <a href="{% url 'login' %}"
                                style="width: 95%; margin-bottom: -40px; background: linear-gradient(to right, #590b19, #590b19, #590b19 );"
                                class="mt-3 py-2 btn text-white">Order Now</a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->



        <!-- ======= Cta Section ======= -->
        <section id="contact" class="cta" style="background-color: #590b19">
            <div class="container">

                <div class="text-center">
                    <h3>Contact Us</h3>
                    <p>We are online 24/7 for any issue you have</p>
                    <a class="cta-btn" href="tel:{{website.whatsapp_number}}">Contact Us Now!</a>
                </div>

            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>

                </div>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left" style="color: #590b19"></i>
                            Oh my God! Don't know what to say but it is cool to partner with this platform. They have
                            provided me all the best i want. Thank you.

                            <i class="bx bxs-quote-alt-right quote-icon-right" style="color: #590b19"></i>
                        </p>
                        <img src="/static/vendor/img/a2.jpg" class="testimonial-img" alt="">
                        <h3>Godwin Ejike</h3>
                        <h4>Enterprenuer</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left" style="color: #590b19"></i>
                            Great!!! EVerything is cool with {{website.website_name}} The admin is super-active because he gave
                            response to all my request. Love.
                            <i class="bx bxs-quote-alt-right quote-icon-right" style="color: #590b19"></i>
                        </p>
                        <img src="/static/vendor/img/a1.jpg" class="testimonial-img" alt="">
                        <h3>Adpoju Olalekan</h3>
                        <h4>Student</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left" style="color: #590b19"></i>
                            Wow. This is a legit datahub for me. I haven't disappointed my customers since they never
                            disappoint me too. Thank you for your usual action.

                            <i class="bx bxs-quote-alt-right quote-icon-right" style="color: #590b19"></i>
                        </p>
                        <img src="/static/vendor/img/a3.jpg" class="testimonial-img" alt="">
                        <h3>Khalid Usman</h3>
                        <h4>Data Reseller</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left" style="color: #590b19"></i>
                            {{website.website_name}} had been best of the best platform for me in Data Subscription, Airtime Top-Up
                            and all.

                            <i class="bx bxs-quote-alt-right quote-icon-right" style="color: #590b19"></i>
                        </p>
                        <img src="/static/vendor/img/a4.png" class="testimonial-img" alt="">
                        <h3>Matins Lota</h3>
                        <h4>Student</h4>
                    </div>


                </div>

            </div>
        </section><!-- End Testimonials Section -->




        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container">

                <div class="section-title">
                    <h2>Affordable Plans & Pricing</h2>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                        <div class="shadow-lg p-3 mb-5 bg-warning rounded">
                            <div class="text-center">
                                <img src="/static/vendor/img/a.jpg" style="border-radius: 50%">
                                <span class="excerpt d-block">MTN DATA</span>
                                <div class="pricing-text mb-5">
                                    <table class="table table-all ">
                                        <tbody>


                                            <tr>
                                                <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;">
                                                    1GB </td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;">
                                                    <i> &#8358;295</i></td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;">
                                                    One</td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;">
                                                    <i>Month</i></td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;">
                                                    Support</td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;">
                                                    <i>4G</i></td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;">
                                                    <i>LTE</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;">
                                                    Hotspot</td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;">
                                                    <i>Sharing</i></td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;">
                                                    Laptop</td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;">
                                                    <i>Usage</i></td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;">
                                                    Multiple</td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;">
                                                    <i>Device</i></td>
                                                <td
                                                    style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>

                                <a href="{% url 'login' %}" class="btn btn-primary d-block px-2 py-3"
                                    style="background:linear-gradient(to right, #590b19, #590b19, #590b19 ); ;">Shop
                                    Now <i class="fa fa-shopping-cart"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                        <div class="shadow-lg p-3 mb-5 bg-danger text-white rounded">
                            <div class="text-center">
                                <img src="/static/vendor/img/b.jpg" style="border-radius: 50%">
                                <span class="excerpt d-block">AIRTEL DATA</span>
                                <div class="pricing-text mb-5">
                                    <table class="table table-all ">
                                        <tbody>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    1GB </td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i> &#8358;500</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    One</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Month</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Support</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>4G</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>LTE</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Hotspot</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Sharing</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Laptop</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Usage</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Multiple</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Device</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>


                                <a href="{% url 'login' %}" class="btn btn-primary d-block px-2 py-3"
                                    style="background:linear-gradient(to right, #590b19, #590b19, #590b19 ); ">Shop
                                    Now <i class="fa fa-shopping-cart"></i> </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                        <div class="shadow-lg p-3 mb-5 text-white bg-success rounded">
                            <div class="text-center">
                                <img src="/static/vendor/img/d.jpg">
                                <span class="excerpt d-block">GLO DATA</span>
                                <div class="pricing-text mb-5">
                                    <table class="table table-all ">
                                        <tbody>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    1GB </td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i> &#8358;420</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    One</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Month</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Support</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>4G</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>LTE</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Hotspot</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Sharing</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Laptop</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Usage</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Multiple</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Device</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>

                                <a href="{% url 'login' %}" class="btn btn-primary d-block px-2 py-3"
                                    style="background:linear-gradient(to right, #590b19, #590b19, #590b19 ); ">Shop
                                    Now <i class="fa fa-shopping-cart"></i> </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                        <div class="shadow-lg p-3 mb-5 rounded text-white" style="background-color: #036a46;">
                            <div class="text-center">
                                <img src="/static/vendor/img/c.jpg">
                                <span class="excerpt d-block">9MOBILE DATA</span>
                                <div class="pricing-text mb-5">
                                    <table class="table table-all ">
                                        <tbody>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    1GB </td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i> &#8358;400</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    One</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Month</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Valid</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Support</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>4G</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>LTE</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Hotspot</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Sharing</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Laptop</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Usage</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>

                                            <tr>
                                                <td style="color: #fff; font-size:18px; font-weight: bolder;">
                                                    Multiple</td>
                                                <td
                                                    style="color: #fff; font-size:18px;  font-weight: bolder;">
                                                    <i>Device</i></td>
                                                <td
                                                    style="color: #fff; font-size:12px;  font-weight: bolder;">
                                                    <i>Active</i></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>

                                <a href="{% url 'login' %}" class="btn btn-primary d-block px-2 py-3"
                                    style="background:linear-gradient(to right, #590b19, #590b19, #590b19 ); ">Shop
                                    Now <i class="fa fa-shopping-cart"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Pricing Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>

                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help" style="color: #590b19"></i> <a data-toggle="collapse"
                                class="collapse" href="#faq-list-1">How To Buy Data? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                                <p>
                                    <ol>
                                        <li> Log in to your account</li>
                                        <li> If not; register a new account </li>
                                        <li> After log in click fund my account if low balance</li>
                                        <li> Fill the Data form and proceed with the next actions.</li>
                                    </ol>
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help" style="color: #590b19"></i> <a data-toggle="collapse"
                                href="#faq-list-2" class="collapsed">What Are The Codes For Checking Data Balance ?<i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                                <p>

                                    <ol>
                                        <li>MTN (SME)-> *461*4#</li>
                                        <li>MTN (GIFTING)-> *131*4# or *460*260#</li>
                                        <li>9mobile[SME]-> *229*9#</li>
                                        <li>9mobile[Gifting]-> *228#</li>
                                        <li>Airtel-> *140#</li>
                                        <li>Glo-> *127*0#.</li>
                                    </ol>
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help" style="color: #590b19"></i> <a data-toggle="collapse"
                                href="#faq-list-3" class="collapsed">How Do I Fund My Wallet? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                                <p>
                                    <ol>
                                        <p>We have provided you some easy way to get money into your account:</p>
                                        <li>Bank payment for manual funding.</li>
                                        <li>Online Payment with your ATM card details via Pay stack Payment Gateway.
                                        </li>
                                    </ol>
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help" style="color: #590b19"></i> <a data-toggle="collapse"
                                href="#faq-list-4" class="collapsed">How To Use Our Services? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                                <p>
                                    <ol>
                                        <li>STEP 1: Fund your wallet.</li>
                                        <li>STEP 2: Fill the data order form. </li>
                                        <li>STEP 3: Wait for 1-15 minutes, the recipient will receive notification(s) of
                                            data recharge(Except for 9mobile(SME), which should be confirmed with its
                                            balance code)</li>

                                    </ol>
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help" style="color: #590b19"></i> <a data-toggle="collapse"
                                href="#faq-list-5" class="collapsed">Airtime Transfer Codes? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                                <p>
                                    <ol>
                                        <li>(MTN) =>
                                            *600*phone_number*amount*pin#</li>
                                        <li>(9mobile) => *223*PIN*Amount*Phone Number# </li>
                                        <li>(Airtel) *432# > Select 1 (Airtel to Airtel) > Enter Airtel Number > Enter
                                            Amount > Enter Pin > Press Send/Ok</li>

                                        <li>(Glo) *131*phone_number*amount*pin#.</li>

                                    </ol>
                                </p>
                            </div>
                        </li>



                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact Us</h2>

                </div>

                <div class="row mt-4">
                    <div class="col-lg-4">
                        <div class="info-box">
                            <i class="bx bx-map" style="color:#590b19"></i>
                            <h3>Our Address</h3>
                            <p>{{website.website_location}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <i class="bx bx-envelope" style="color:#590b19"></i>
                            <h3>Email Us</h3>
                            <p>{{website.website_email}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <i class="bx bx-phone-call" style="color:#590b19"></i>
                            <h3>Call Us</h3>
                            <p>{{website.whatsapp_number}}</p>
                        </div>
                    </div>
                </div>

            </div>


            </div>

            </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h3 style="color:white;text-transform: uppercase;">{{website.website_name}}</h3>
                        <p>
                            {{website.website_location}}<br><br>
                            <strong>Phone: </strong>{{website.whatsapp_number}}<br>
                            <strong>Email: </strong>{{website.website_email}}<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a href="#about">About us</a>
                            </li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a href="#services">Our
                                    Services</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="wallet/GetStarted.html">Register</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">Login</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">API Integration</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">Buy Data</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">Airtime TopUp</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">Airtime To Cash</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">Refer & Earn</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">Cable Subscription</a></li>
                            <li><i class="bx bx-chevron-right" style="color:#590b19"></i> <a
                                    href="{% url 'login' %}">Utility Payment</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <div class="copyright">
                            &copy; Copyright <strong><span>{{website.website_name}}</span></strong><br> All Rights Reserved
                        </div>
                        <div class="credits">

                            <br>
                            <br>
                            <div class="social-links text-left text-md-left pt-3 pt-md-0">

                                <a href="{{website.facebook_link}}" style="font-size: 30px;background-color: white;border-radius: 40%"><i
                                        class="bx bxl-facebook" style="color:#590b19"></i></a>
                                <a href="{{website.instagram_link}}" style="font-size: 30px;background-color: white;border-radius: 40%"><i
                                        class="bx bxl-instagram" style="color:#590b19"></i></a>
                                <a href="{{website.whatsapp_link}}" style="font-size: 30px;background-color: white;border-radius: 40%"><i
                                        class="bx bxl-whatsapp" style="color:#590b19"></i></a>

                            </div>

                            <div class="">Developed By <strong><a href="https://prudentcoreng.com">Prudent Core NG</a></strong></div>
                        </div>
                    </div>
                </div>
            </div>

    </footer><!-- End Footer -->

    <a href="#" class=""><i class="" style="background-color: #590b19"></i></a>

    <!-- Vendor JS Files -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
    {% comment %} <script src="/static/vendor/php-email-form/validate.js"></script> {% endcomment %}
    <script src="/static/vendor/waypoints/jquery.waypoints.min.js"></script>
    {% comment %} <script src="/static/vendor/counterup/counterup.min.js"></script> {% endcomment %}
    <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
    {% comment %} <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script> {% endcomment %}
    {% comment %} <script src="/static/vendor/venobox/venobox.min.js"></script> {% endcomment %}

    <!-- Template Main JS File -->
    <script src="/static/vendor/js/main.js"></script>

    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "{{website.whatsapp_number}}", // WhatsApp number
                call_to_action: "Message us", // Call to action
                position: "left", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol,
                host = "whatshelp.io",
                url = proto + "//static." + host;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = url + '/static/vendor/widget-send-button/js/init.js';
            s.onload = function () {
                WhWidgetSendButton.init(host, proto, options);
            };
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>

</body>

</html>