<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Airtime Commission</h4>
                <p class="card-title-desc">
                    Here you can see all the list of our pricing
                </p>

                <div class="table-responsive">
                <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Customer</th>
                        <th>Reseller</th>
                        <th>API</th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr>
                        <td>MTN</td>
                        <td>500</td>
                        <td>200</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>GLO</td>
                        <td>{{airtimes.glo}}</td>
                        <td>{{airtimes.glo_res}}</td>
                        <td>{{airtimes.glo_api}}</td>
                    </tr>
                    <tr>
                        <td>Airtel</td>
                        <td>{{airtimes.airtel}}</td>
                        <td>{{airtimes.airtel_res}}</td>
                        <td>{{airtimes.airtel_api}}</td>
                    </tr>
                    <tr>
                        <td>9mobile</td>
                        <td>{{airtimes.etisalat}}</td>
                        <td>{{airtimes.etisalat_res}}</td>
                        <td>{{airtimes.etisalat_api}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Data Commission</h4>
                <p class="card-title-desc">
                    Here you can see all the list of our pricing
                </p>

                <div class="table-responsive">
                <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Customer</th>
                        <th>Reseller</th>
                        <th>API</th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr>
                        <td>MTN</td>
                        <td>{{datas.mtn}}</td>
                        <td>{{datas.mtn_res}}</td>
                        <td>{{datas.mtn_api}}</td>
                    </tr>
                    <tr>
                        <td>GLO</td>
                        <td>{{datas.glo}}</td>
                        <td>{{datas.glo_res}}</td>
                        <td>{{datas.glo_api}}</td>
                    </tr>
                    <tr>
                        <td>Airtel</td>
                        <td>{{datas.airtel}}</td>
                        <td>{{datas.airtel_res}}</td>
                        <td>{{datas.airtel_api}}</td>
                    </tr>
                    <tr>
                        <td>9mobile</td>
                        <td>{{datas.etisalat}}</td>
                        <td>{{datas.etisalat_res}}</td>
                        <td>{{datas.etisalat_api}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Bills Commission</h4>
                <p class="card-title-desc">
                    Here you can see all the list of our pricing
                </p>

                <div class="table-responsive">
                <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Customer</th>
                        <th>Reseller</th>
                        <th>Vendor</th>
                        <th>API</th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr>
                        <td>Electricity</td>
                        <td>{{bills.edc}}</td>
                        <td>{{bills.edc_res}}</td>
                        <td>{{bills.edc_ven}}</td>
                        <td>{{bills.edc_api}}</td>
                    </tr>
                    <tr>
                        <td>TV Bills</td>
                        <td>{{bills.decoder}}</td>
                        <td>{{bills.decoder_res}}</td>
                        <td>{{bills.decoder_ven}}</td>
                        <td>{{bills.decoder_api}}</td>
                    </tr>
                    <tr>
                        <td>Smile Direct</td>
                        <td>{{bills.smile}}</td>
                        <td>{{bills.smile_res}}</td>
                        <td>{{bills.smile_ven}}</td>
                        <td>{{bills.smile_api}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->