{% extends "auth.html" %}

{% block auth %}
<div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Welcome Back !</h5>
                                            <p>Sign in to continue to {{website.website_name}}.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="/static/images/profile-img.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="{% url 'home' %}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                {% if website.website_icon %}
                                                <img src="{{website.website_icon.url}}" alt="" class="rounded-circle" height="34">
                                                {% else %}
                                                <img src="/static/images/logo.svg" alt="" class="rounded-circle" height="34">
                                                {% endif %}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <form class="form-horizontal rpassword">
                                    {% csrf_token %}
                                        <div id="output" class="text-center text-primary font-weight-medium alert"></div>
                                        <div class="form-group">
                                            <label for="username">Enter OTP</label>
                                            <input type="text" class="form-control" name="otp" placeholder="OTP Code" maxlength="6" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Enter Username</label>
                                            <input type="text" class="form-control" name="username" placeholder="Enter username" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="new_password">Enter New Password</label>
                                            <input type="password" class="form-control" name="new_password" placeholder="New Password" required>
                                        </div>
                
                                        <div class="custom-control custom-checkbox">
                                        </div>
                                        
                                        <div class="mt-3">
                                            <button class="btn btn-primary btn-block waves-effect waves-light verify-btn" type="submit">Reset Password</button>
                                        </div>
            
                                        <div class="mt-4 text-center">
                                            
                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>© 2022 {{website.website_name}}. Crafted with <i class="mdi mdi-heart text-danger"></i> by Prudent Core NG</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock auth %}